<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Welcome to ShotRocks!</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" href="../css/style.css">

		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>	

	</head>

	<body>
		<div class="container">
			<h1>ShotRocks</h1>
			<p class="lead">Welcome to ShotRocks, a Pebble app for managing your alcohol intake.</p>

			<form action="/signin" method="POST" role="form">
				<div class="form-group">
					<label for="inputEmail">Email address</label>
					<input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">Remember me
					</label>
				</div>
			  <button type="submit" id="signIn" class="btn btn-default btn-lg">Sign in</button>
			</form>
			
			<a href="/register">Register</a>
		</div>
	</body>
</html>
