<DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Welcome to ShotRocks!</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" href="../css/style.css">

		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>	
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
        $(document).ready(function() {
            $('#register').on('click', function(e) {
                e.preventDefault();
                var data = {
                    email: $('#inputEmail').val(),
                    password: $('#inputPassword').val(),
                    gender: $('#inputGender').val(),
                    weight: $('#inputWeight').val()
                };

                $.ajax({
                    url: '/register',
                    method: 'POST',
                    data: data
                })

                document.location = 'pebblejs://close#' + encodeURIComponent(JSON.stringify(data));

            })
        });

		</script>
	</head>

	<body>
		<div class="container">
			<h2>Registration</h2>
			<p class="lead">All fields are required.</p>

			<form name="input" action"/register" method="POST" role="form">
				<div class="form-group">
					<label for="inputEmail">Email address</label>
					<input name='email' type="email" class="form-control" id="inputEmail" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>

                <div class="form-group">
                    <label for="inputGender">Gender</label>
                    <select id="inputGender" name="gender">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
				<div class="form-group">
					<label for="inputWeight">Weight (in lbs)</label>
					<input name='weight' class="form-control" id="inputWeight" placeholder="Weight">
				</div>
			  <button type="submit" id="register" class="btn btn-default btn-lg">Register</button>
              <a href="/signin">Sign In</a>
			</form>
		</div>
	</body>
</html>
