body {	
	padding: 40px 15px;
	text-align: center;
	background-color: #ff0048;
	color: #ffffff;
}

h1 {
	font-family: "Pacifico";
	font-size: 65px;
}

h2 {
	font-size: 50px;
}

button {
	margin-left: 20px;
}

a {
	padding: 15px;
	font-size: 16px;
	color: #dddddd;
}

a:hover {
	color: #dddddd;
}


@import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');
@import url('http://jdewit.github.io/bootstrap-timepicker/css/bootstrap-timepicker.min.css');

